# Pustaka Inti untuk RT-DETR dan Vision
scipy
transformers
pycocotools
opencv-python
matplotlib
pyyaml

# Pustaka untuk Training Loop & Monitoring
tqdm
pandas
requests
gdown

# Pustaka Tambahan (Sering dibutuhkan untuk augmentasi)
albumentations
scikit-learn